#!/usr/bin/make -f
%:
	dh $@

export CARGO_HOME=debian/tmp/cargo

override_dh_auto_clean:
	cargo clean

override_dh_auto_test:
	cargo version
	cargo test --workspace --release

override_dh_auto_build:
	cargo version
	cargo build --workspace --release

override_dh_auto_install:
	mkdir -p debian/tmp/usr/bin/
	cp \
		target/release/rebootinto-cli \
		target/release/rebootinto-tui \
		target/release/rebootinto-iui \
		target/release/rebootinto-iced \
		debian/tmp/usr/bin/
